[Unit]
Description=ElasticSearch Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0

Restart=on-failure
StartLimitInterval=60s
StartLimitBurst=3

ExecStartPre=/usr/bin/docker pull dockerfile/elasticsearch
ExecStartPre=-/usr/bin/docker rm elasticsearch
ExecStartPre=-/usr/bin/mkdir -p /mount/storage/elasticsearch
ExecStart=/usr/bin/docker run -v /mount/storage/elasticsearch:/data --rm --name elasticsearch --hostname="elasticsearch.domain.com" --dns=172.17.42.1 -p 9200:9200 -p 9300:9300 dockerfile/elasticsearch
ExecStop=/usr/bin/docker stop jenkins
